<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ModdPics</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script defer src="{% static 'js/index.js'%}"></script>
    
</head>
<body>
    
        
    


    
    <nav>
        <img id="logo"src="{%static 'img/MoodPics.png'%}">
        <div id="profile">
            <div id="profile_pic"class="dot"></div>

            <h3>{{authenticated_user.username}}</h3>
            <a href="/logout">logout</a>
        </div>
        
    </nav>


    <div id="menu">
        
        <a href="/feed/" id="home-btn"class="btn hvr-skew-backward">Home</a>

        <a href="/feed/brilliant"id="brilliant"class="btn hvr-box-shadow-inset">Brilliant</a>
        <a href="/feed/gloom"id="gloom" class="btn hvr-box-shadow-inset">Gloom</a>
        <a href="/feed/lush"id="lush" class="btn hvr-box-shadow-inset">Lush</a>
        <a href="/feed/vibrant"id="vibrant" class="btn hvr-box-shadow-inset">Vibrant</a>
        <a href="/feed/mystique"id="mystique" class="btn hvr-box-shadow-inset">Mystique</a>
        <a href="/feed/turbulant"id="turbulant" class="btn hvr-box-shadow-inset">Turbulant</a>
        <a href="/feed/posts/new"><img id= "addbutton" src="{%static 'img/addbutton.png'%}"></a>
    </div>


    <div id="feed">
        {%for post in posts%}
            <div class="card">
                <a href="/feed/posts/{{post.id}}"><h4>{{post.title}}</h4></a>
                <div class="interactions">
                    <img src="{%static 'img/chatbubble-ellipses-outline.svg'%}" postid="{{post.id}}" class="like commentBtn hvr-grow"alt="">
                    {%if authenticated_user in post.likers.all%}
                    <img src="{%static 'img/sharp_favorite_red_48dp.png'%}" postid="{{post.id}}" class="likebutton like hvr-grow"alt="">    
                    {%else%}
                    <img src="{%static 'img/sharp_favorite_border_black_48dp.png'%}" postid="{{post.id}}" class="likebutton like hvr-grow"alt="">    
                    {%endif%}
                    <p>{{post.like_count}}</p>
                </div>
                <p>{{post.poster.username}}</p>
                <img id="content"src={{post.img_url}}>
                <p id="dc">Dominant Colors:</p>
                <div style="background-color:{{post.pallette.color_1}}"id="dc1"class="dot"></div>
                <div style="background-color:{{post.pallette.color_2}}"id="dc2"class="dot"></div>
                <div style="background-color:{{post.pallette.color_3}}"id="dc3"class="dot"></div>
                <div style="background-color:{{post.pallette.color_4}}"id="dc4"class="dot"></div>
                <h2>{{post.mood}}</h2>
                <form action="/feed/posts/{{post.id}}/comment" method="POST" postid="{{post.id}}" id ="comment{{post.id}}"class="Comment">
                    {%csrf_token%}
                    <input type="text" name="comment">
                    <input type="submit" value="post">
                </form>
            </div>
        {%endfor%}
        </div>
        


    <!-- <ul>
        <li class="btn hvr-sink hvr-underline-from-center">Cheerful</li>
        <li class="btn hvr-sink hvr-underline-from-center">Reflective</li>
        <li class="btn hvr-sink hvr-underline-from-center">Gloomy</li>
        <li class="btn hvr-sink hvr-underline-from-center">Humorous</li>
        <li class="btn hvr-sink hvr-underline-from-center">Melancholy</li>
        <li class="btn hvr-sink hvr-underline-from-center">Idyllic</li>
        <li class="btn hvr-sink hvr-underline-from-center">Whimsical</li>
        <li class="btn hvr-sink hvr-underline-from-center">Romantic</li>
        <li class="btn hvr-sink hvr-underline-from-center">Mysterious</li>
        <li class="btn hvr-sink hvr-underline-from-center">Ominous</li>
        <li class="btn hvr-sink hvr-underline-from-center">Calm</li>
        <li class="btn hvr-sink hvr-underline-from-center">Lighthearted</li>
        <li class="btn hvr-sink hvr-underline-from-center">Hopeful</li>
        <li class="btn hvr-sink hvr-underline-from-center">Angry</li>
        <li class="btn hvr-sink hvr-underline-from-center">Fearful</li>
        <li class="btn hvr-sink hvr-underline-from-center">Tense</li>
        <li class="btn hvr-sink hvr-underline-from-center">Lonely</li>

    </ul> -->
</body>
</html>