<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ModdPics</title>
    
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

</head>
<body>
    
        
    


    
    <nav>
        <h1>MoodPics</h1>
        <h3><a href="/feed/post/new">Upload</a></h3>
        <h3>{{authenticated_user.first_name}}</h3>
        <a href="/logout">logout</a>
    </nav>


    <div id="menu">
        <h3>Moods</h3>
        <button id="brilliantw"class="btn hvr-skew-backward">Brilliant</button>
        <button id="gloom" class="btn hvr-box-shadow-inset">Gloom</button>
        <button id="lush" class="btn hvr-box-shadow-inset">Lush</button>
        <button id="vibrant" class="btn hvr-box-shadow-inset">Vibrant</button>
        <button id="mundane" class="btn hvr-box-shadow-inset">Mudane</button>
        <button id="mystique" class="btn hvr-radial-in">Mystique</button>
        <button id="turbulant" class="btn hvr-box-shadow-inset">Turbulant</button>
    </div>


    <div id="feed">
        {%for post in posts%}
            <div class="card hvr-grow clickable">
                <h4>{{post.title}}</h4>
                
                <img src="{%static 'img/chatbubble-ellipses-outline.svg'%}" class="like hvr-grow"alt="">
                <img src="{%static 'img/sharp_favorite_border_black_48dp.png'%}" class="like hvr-grow"alt="">
                <p>{{post.poster.first_name}}</p>
                <img id="content"src="https://moodpics.s3-us-west-1.amazonaws.com/media/{{post.img}}">
            </div>
        {%endfor%}
        </div>
        


    <!-- <ul>
        <li class="btn hvr-sink hvr-underline-from-center">Cheerful</li>
        <li class="btn hvr-sink hvr-underline-from-center">Reflective</li>
        <li class="btn hvr-sink hvr-underline-from-center">Gloomy</li>
        <li class="btn hvr-sink hvr-underline-from-center">Humorous</li>
        <li class="btn hvr-sink hvr-underline-from-center">Melancholy</li>
        <li class="btn hvr-sink hvr-underline-from-center">Idyllic</li>
        <li class="btn hvr-sink hvr-underline-from-center">Whimsical</li>
        <li class="btn hvr-sink hvr-underline-from-center">Romantic</li>
        <li class="btn hvr-sink hvr-underline-from-center">Mysterious</li>
        <li class="btn hvr-sink hvr-underline-from-center">Ominous</li>
        <li class="btn hvr-sink hvr-underline-from-center">Calm</li>
        <li class="btn hvr-sink hvr-underline-from-center">Lighthearted</li>
        <li class="btn hvr-sink hvr-underline-from-center">Hopeful</li>
        <li class="btn hvr-sink hvr-underline-from-center">Angry</li>
        <li class="btn hvr-sink hvr-underline-from-center">Fearful</li>
        <li class="btn hvr-sink hvr-underline-from-center">Tense</li>
        <li class="btn hvr-sink hvr-underline-from-center">Lonely</li>

    </ul> -->
</body>
</html>