<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ModdPics</title>
    
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

</head>
<body>
    
        
    


    
    <nav>
        <h1>MoodPics</h1>
        <h3>Upload</h3>
        <h3>USERNAME HERE</h3>
    </nav>


    <div id="menu">
        <h3>Moods</h3>
        <button id="brilliant"class="btn hvr-skew-backward">Brilliant</button>
        <button id="gloom" class="btn hvr-box-shadow-inset">Gloom</button>
        <button id="lush" class="btn hvr-box-shadow-inset">Lush</button>
        <button id="vibrant" class="btn hvr-box-shadow-inset">Vibrant</button>
        <button id="mundane" class="btn hvr-box-shadow-inset">Mudane</button>
        <button id="mystique" class="btn hvr-radial-in">Mystique</button>
        <button id="turbulant" class="btn hvr-box-shadow-inset">Turbulant</button>


    </div>
    <!-- <ul>
        <li class="btn hvr-sink hvr-underline-from-center">Cheerful</li>
        <li class="btn hvr-sink hvr-underline-from-center">Reflective</li>
        <li class="btn hvr-sink hvr-underline-from-center">Gloomy</li>
        <li class="btn hvr-sink hvr-underline-from-center">Humorous</li>
        <li class="btn hvr-sink hvr-underline-from-center">Melancholy</li>
        <li class="btn hvr-sink hvr-underline-from-center">Idyllic</li>
        <li class="btn hvr-sink hvr-underline-from-center">Whimsical</li>
        <li class="btn hvr-sink hvr-underline-from-center">Romantic</li>
        <li class="btn hvr-sink hvr-underline-from-center">Mysterious</li>
        <li class="btn hvr-sink hvr-underline-from-center">Ominous</li>
        <li class="btn hvr-sink hvr-underline-from-center">Calm</li>
        <li class="btn hvr-sink hvr-underline-from-center">Lighthearted</li>
        <li class="btn hvr-sink hvr-underline-from-center">Hopeful</li>
        <li class="btn hvr-sink hvr-underline-from-center">Angry</li>
        <li class="btn hvr-sink hvr-underline-from-center">Fearful</li>
        <li class="btn hvr-sink hvr-underline-from-center">Tense</li>
        <li class="btn hvr-sink hvr-underline-from-center">Lonely</li>

    </ul> -->
</body>
</html>