<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ModdPics</title>
</head>
<body>
    <ul>
        <li>Cheerful</li>
        <li>Reflective</li>
        <li>Gloomy</li>
        <li>Humorous</li>
        <li>Melancholy</li>
        <li>Idyllic</li>
        <li>Whimsical</li>
        <li>Romantic</li>
        <li>Mysterious</li>
        <li>Ominous</li>
        <li>Calm</li>
        <li>Lighthearted</li>
        <li>Hopeful</li>
        <li>Angry</li>
        <li>Fearful</li>
        <li>Tense</li>
        <li>Lonely</li>

    </ul>
</body>
</html>