<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    <title>MoodPics | New Post</title>
</head>
<body>  
    <form class="" action="/feed/posts/new/submit" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        {{ newPostForm.as_p }}
        
        <input type="submit" value="Post" id="send_request">
    </form>
    <div class="loader"></div>
    <style>
        .loader {
            border: 16px solid #f3f3f3; /* Light grey */
            border-top: 16px solid #3498db; /* Blue */
            border-radius: 50%;
            width: 120px;
            height: 120px;
            display: none;
            animation: spin 2s linear infinite;
        }

        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }

    </style>
    <script>
        $('#sendRequest').click(function(){         // the .click() method accepts a callback
            $(".loader").show();
        })
    </script>
</body>
</html>