
#menu{
    width:89px;
    padding-left:25px;

}

ul{
    margin-top:0px;
    padding-top:0px;
}
.btn{
    vertical-align:top;
    padding-top:18px;
    padding-bottom:3px;
    margin-right:4px;
}

#brilliant{

}
#gloom{

}
#lush{

}
#vibrant{

}
#mudane{

}
#mystique{

}
#turbulant{


}
